/jnl_test/coverage-report/
/jnl_lib/coverage-report/
/jnl_parent/.settings/
/jnl_lib/.settings/
/jnl_test/.settings/
/jnl_lib/.project
/jnl_parent/.project
/jnl_test/.classpath
/jnl_lib/.classpath
/jnl_test/.project
